OPENAI_API_KEY=your_openai_api_key
LLM_PROVIDER="openai" # openai | gemini
REDIS_URL=redis_url # default is redis://localhost:6379/0
DATABASE_URL=database_url # default is sqlite:///hyvedb.sqlite3
ADMIN_PASSWORD=set_admin_password
JWT_SECRET="hyve_jwt_secret_key_2026_change_in_production"
FRONTEND_URL="http://localhost:3000"
CANOPY_API_KEY="your_canopy_api_key" # go to: https://rest.canopyapi.co/ and proceed from there
BACKEND_URL="http://localhost:8000"